version: 2
updates:
  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    # Specify a reviewer for pull requests created by Dependabot
    reviewers:
      - "sudiddo"
